<script type='text/template' id="userDetails">
  <input id='firstName' onchange='visitorDetails.update()' type="text" placeholder="write your name here...">
  <button onclick='begin_chat()' class="btn btn-primary" type="button">begin chat</button>
</script>

<script type="text/template" id="chat_area">
    <div class="span10 grey_3 outer_chat">
        <div class="row-fluid">
            <div class="span10 offset1 container_chat">
                <div id="customer_center"></div>
                <section id='chatArea' class="span12"></section>
                <div class="clr"></div>
                <div class="send_container">
                    <button class="btn btn-large btn-block btn-primary" type="button" onclick='sendText()'>OK thanks!</button>
                    <div class="text typing">Agent is typing...</div>
                    <textarea id='chatLine' class="span12 grey_2" rows="3"></textarea>
                    <div id="search_container">
	                    <div id='searchBtn' class='span1' onclick='showSearchInput()'></div>
	                    <div id='closeIcon' class='span1' onclick='closeIcon()' style='display: none;'></div>
	                    <input id="searchText" type"text" class='span9' oninput='search()' style='display:none;'/>
                    </div>
                </div>              
        	</div>
     	</div>          
	</div>	
</script>

<script type="text/template" id="templateView">
    <div class="content">
		<div>
		  <strong class="name"><%= by%></strong>
		  <span class="hour text"><%= new Date().toLocaleTimeString().substr(0, 5)%></span>
		</div>
		<span class="text"><%= text%></span>
    </div>  
</script>


<script type="text/template" id="profileList">
	<ul class="thumbnails"></ul>
</script>

<script type="text/template" id="imageProfile">
    <a href="#">
      	<img class="img_profile" src=<%= img %> alt=<%= firstName %>_<%= lastName %> >
    </a>
</script>