<script type="text/template" id="connection">
	<div class="row">
	  <div class="span3 grey_3 outer_chat">
	  	<div id="container_chat">
	  		<div id="customer_center"></div>
	  		<div id='chatArea' style=''></div>
	  		<div class="send_container">
	  			<button class="btn btn-large btn-block btn-primary" type="button" onclick='sendText()'>OK thanks!</button>
	  			<strong class="text typing">Agent is typing...</strong>
	  			<textarea id='chatLine' class="grey_2" rows="3"></textarea>
	  		</div>
	  			
			<button onclick='sendText()'>Send</button>
	  	</div>	
</script>

	  <script type="text/template" id="templateView">

    <div class="content">
		<div>
		  <strong class="name"><%= by%></strong>
		  <span class="hour text"><%= new Date().toLocaleTimeString().substr(0, 5)%></span>
		</div>
		<span class="text"><%= text%></span>
    </div>
   
</script>
	  <div class="span1 grey_2 profile_list" >

			<ul class="thumbnails">
			  <li>
			    <a href="#">
			      <img class="img_profile" src="img_profile.jpg" alt="">
			    </a>
			  </li>
			  <li>
			    <a href="#">
			      <img class="img_profile" src="img_profile.jpg" alt="">
			    </a>
			  </li>
			  <li>
			    <a href="#">
			      <img class="img_profile" src="img_profile.jpg" alt="">
			    </a>
			  </li>
			</ul>

	  </div>
	</div>
</div>